.container {
    box-sizing: border-box;
    height: calc(100% - 64px);
}

.mat-subheader {
    color: #e88427;
}

.category-divider {
    margin-top: 15px;
}

.search-bar {
    min-width: 450px;
}

.item-list {
    max-height: calc(100vh - 300px);
    overflow: auto;
}
