<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <mat-card>
            <mat-card-content>
                <h2>Item Browser</h2>

                <mat-form-field class="search-bar" appearance="fill">
                    <mat-label>Search</mat-label>
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput #search placeholder="" value="">
                    <button *ngIf="search.value" matSuffix mat-icon-button (click)="search.value=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <div class="container" fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="center none">
                    <div fxFlex="20">

                        <mat-selection-list [multiple]="false" class="item-list">
                            <mat-list-option *ngFor="let item of items$ | async | itemFilter:search.value"
                                (selectedChange)="selectItem(item)"
                                [value]="item">{{ item.name }}</mat-list-option>
                        </mat-selection-list>

                    </div>
                    <div fxFlex="80">
                        <app-item-detail [item]="currentItem"></app-item-detail>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
